@import "../../../common/scss/bootstrap/variables";

$psd-total-width: 1280px;
$actual-total-width: 1280px;
$scale: $actual-total-width/$psd-total-width;
$left-container-width: $scale * 260px;
$right-container-width: $actual-total-width - $left-container-width;

$border-color: #cfcfd0;

$cus-green: #43b29e;
$cus-blue: #388ac1;
$cus-red: #d04a36;
$cus-yellow: #e2cd46;

$holiday-color: #c9161d;

@mixin bg-color($color:#fff) {
  background-color: $color;
}

body {
  overflow-x: hidden;
}

.navbar-container {
  border: none;
  border-radius: 0;
  background-color: #2189bf;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;

  .navbar-brand {
    color: #fff;
  }

  .navbar-form {

    .search-addon {
      border: none;
      border-top-left-radius: 22px;
      border-bottom-left-radius: 22px;
      color: #ababab;
      @include bg-color;

      + .form-control {
        border: none;
        box-shadow: none;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;

        @media (min-width: 1024px) {
          width: $scale * 320px;
        }
      }
    }

    .login-btn {
      margin-top: -1px;
      background-color: transparent;
      border-color: transparent;
      color: #fff;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.main-container {
  width: $actual-total-width;
  margin-left: auto;
  margin-right: auto;
}

.left-container, .right-container {
  min-height: 1200px;
}

.left-container {
  width: $left-container-width;
  color: #6e8095;
  background-color: #2a2e3d;

  .left-header {
    padding: $scale * 20px $scale * 45px;

    .left-header-top {
      color: #f6f5f5;
      line-height: $scale * 60px;
      margin-bottom: 24px;
    }

    .circle-outer, .collector-num {
      float: left;
    }

    .circle-outer {
      width: $scale * 60px;
      height: $scale * 60px;
      border: 1px solid #f6f5f5;
      position: relative;
      margin-right: 20px;

      .circle-inner {
        width: $scale * 50px;
        height: $scale * 50px;
        background-color: #b2aaad;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    .collector-num {
      width: $scale * 60px + 22px;
      padding-right: 20px;
      border-right: 2px solid #313645;
    }
  }
}

.menu-list {
  list-style: none;
  padding-left: 0;

  > li {
    padding: $scale * 15px $scale * 45px;
    line-height: 32px;

    ul {
      list-style: none;
      padding-left: 20px;
    }

    &.active {
      background-color: #383d4e;
    }

    .glyphicon-folder:after {
      content: "\e117";
    }

    .glyphicon-chevron:after {
      content: "\e080";
    }

    .active {
      .glyphicon-folder:after {
        content: "\e118";
      }

      .glyphicon-chevron:after {
        content: "\e114";
      }
    }
  }

  .active > .list-item-name {
    color: #ededef;
  }
}

.right-container {
  width: $right-container-width;
  background-color: #eeeeed;

  .right-header .breadcrumb {
    @include bg-color;

    li {
      a {
        text-decoration: none;
        color: #aaa;
      }

      &.active {
        color: #6898c2;
      }
    }
  }

  .main-content {
    width: $scale * 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border-radius: 0;
  border-color: $border-color;
  box-shadow: none;
  font-size: 12px;
  height: 26px;
  color: #323333;
  border-right: none;
  padding: 5px 20px 5px 10px;

  &:focus {
    border-color: #ccc;
  }

  + .input-group-addon {
    border-radius: 0;
    background-color: transparent;
    padding: 5px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 12px;
  }
}

.search-bar {
  border: 1px solid #dddbdd;
  border-bottom: 2px #e4e4e4;
  padding: $scale * 15px $scale * 30px;
  margin-bottom: 10px;
  color: #aaa;
  position: relative;
  @include bg-color;

  .form-block {
    label {
      font-size: 12px;
      padding-left: $scale *  15px;
      padding-right: $scale *  15px;
    }

    .form-control {
      border-radius: 0;
      border-color: $border-color;
      width: $scale * 70px;
      color: #323333;
      background-color: transparent;

      &.form-control-lg {
        width: $scale * 120px;
      }
    }

    .form-line {
      &.active .input-group-addon {
        color: #2b71b9;
      }

      + .form-line {
        margin-top: 10px;
      }
    }

    + .form-block {
      margin-left: $scale * 40px;
    }

    #search-list, #auction-count {
      + .input-group-addon {
        right: 1px;
      }
    }
  }

  .form-block.icon-exchange {
    position: relative;
    margin-left: $scale * 20px;
    margin-right: $scale * 20px;

    &:before {
      position: absolute;
      top: 50%;
      right: -48px;
      transform: translate3d(0, -50%, 0);
      color: #abaaaa;
      padding: 2px 4px;
      font-size: 54px;
      @include bg-color;
    }
  }

  .search-btn {
    background-color: $cus-blue;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    border-radius: 1px;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.history-query {
  margin-bottom: 20px;

  .history-item {
    float: left;
    //display: inline-block;
    padding: 15px $scale * 24px;
    border: 1px solid $border-color;
    border-right: none;
    border-bottom: none;
    text-align: center;
    @include bg-color;

    .glyphicon-yen:before {
      color: #abaaaa;
    }

    .highlight {
      font-size: 21px;
      color: #ec6500;
    }

    &.chevron {
      padding: 34.5px;
      color: #ababab;
    }

    &.history-btn {
      padding: 27.5px;

      span {
        font-size: 12px;
        line-height: 32px;
        vertical-align: middle;
      }

      .glyphicon-calendar {
        font-size: 32px;
        color: $cus-blue;
      }
    }

    &.chevron, &.history-btn {
      padding-left: $scale * 10px;
      padding-right: $scale * 10px;
    }

    &.active {
      border-top: 4px solid #4388c9;
      padding-top: 12px;
    }

    + .history-item {
      margin-left: $scale * 5px;
    }
  }
}

.statistic {
  ul {
    list-style: none;
    padding-left: 0;

    li {
      float: left;
      border: 1px solid $border-color;
      @include bg-color;
      padding: 12px $scale * 15px;

      + li {
        margin-left: $scale * 28px;
      }

      .item-content {
        float: left;
        color: #aaa;
        font-size: 10px;

        p {
          color: #323333;
          font-size: 12px;
          margin-bottom: 15px;
        }
      }

      &:after {
        content: " ";
        float: left;
        width: $scale * 60px;
        height: 49px;
        display: inline-block;
        margin-left: $scale * 70px;
      }

      &.item-green {
        border-left: 2px solid $cus-green;

        &:after {
          background-color: $cus-green;
        }
      }

      &.item-blue {
        border-left: 2px solid $cus-blue;

        &:after {
          background-color: $cus-blue;
        }
      }

      &.item-red {
        border-left: 2px solid $cus-red;

        &:after {
          background-color: $cus-red;
        }
      }

      &.item-yellow {
        border-left: 2px solid $cus-yellow;

        &:after {
          background-color: $cus-yellow;
        }
      }
    }
  }
}

.panel-container {
  .panel-title {
    font-size: 12px;
    color: #aaa;
  }

  .panel {
    display: inline-block;
  }

  .panel-first {
    width: $scale * 530px;
  }

  .panel-second {
    width: $scale * 350px;
    float: right;

    .panel-body {
      padding: $scale * 35px;
      padding-top: 20px;

      dl {
        margin-bottom: 0;
        padding-left: $scale * 16px;
      }

      dt {
        color: #c3c2c2;
      }

      dd {
        color: #535353;
      }

      .middle-content {
        border-top: 1px solid #e9e8e8;
        border-bottom: 1px solid #e9e8e8;
        margin-top: 10px;
        margin-bottom: 5px;

        > dl {
          padding-top: 5px;
          padding-bottom: 10px;

          + dl {
            border-left: 1px solid $border-color;
            margin-left: $scale * 50px;
          }
        }
      }

      .checkbox-inline {
        label {
          input[type='checkbox'] {
            margin-top: 7px;
          }

          span {
            line-height: 26px;
            color: #c3c2c2;
            font-size: 12px;
          }
        }

        + button.btn {
          font-size: 12px;
          border-radius: 1px;
          border: none;
          padding: 4px $scale * 12px;
          @include bg-color($cus-blue);
        }
      }
    }
  }

  .panel-third {
    width: $scale *350px;
  }

  .panel-forth {
    width: $scale *530px;
    float: right;
  }

  .nav-tabs {
    border-bottom: none;

    > li {
      + li {
        margin-left: $scale * 2px;
      }

      > a {
        color: #535353;
        padding: 8px $scale * 23px;
        border-bottom-color: $border-color;
        font-size: 12px;
        @include bg-color($nav-link-hover-bg);
      }

      &.active > a {
        @include bg-color;
        border-bottom-color: transparent;
      }
    }
  }

  .nav-body {
    border: 1px solid $border-color;
    border-radius: 0 3px 3px 3px;
    padding: 25px $scale * 35px;
  }

  .table {
    margin-bottom: 0;

    th, td {
      text-align: center;
      font-size: 12px;

      &:hover, &.hover {
        background-color: #f4f5f6;
      }
    }
  }

  .calendar-table {
    caption {
      .today-btn {
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 0;
        height: 26px;
      }

      .input-group + .input-group {
        margin-left: $scale * 5px;
      }

      .form-control {
        padding-right: 26px;
      }

      .input-group-addon {
        color: #c2c3c4;
        border-left: 1px solid #f6f7f8;
      }
    }

    th {
      border-top: 1px solid #b2cfed !important;
      border-bottom: 1px solid #e3e3e4;
      padding-top: 10px;
      padding-bottom: 12px;
    }

    td {
      border: none;
      padding: 0;

      &.festival {
        span:nth-child(3) {
          color: $holiday-color;
        }
      }

      > {
        div {
          padding: 7px;
          margin: 1px;
        }

        .highlight {
          border: 1px solid #f8d573;
        }
      }

      &:nth-child(6), &:nth-child(7) {
        span:nth-child(1) {
          color: $holiday-color;
        }
      }
    }
  }

  .brand-table {
    th {
      padding: 5px 8px;
      > div.pull-left {
        line-height: 20px;
        margin: 0 20px;
      }
    }

    .progress {
      height: 4px;
      margin-top: 6px;
      margin-bottom: 0;
      border-radius: 0;
      background-color: #dcdcdc;
    }
  }
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  background: transparent;
}